<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60"  title="Other Projects" alt=""></td>
        <td><a href="{{site.baseurl}}/NattM2">N@tM</a></td>
        <td><a href="{{site.baseurl}}/CPT/Project">My Part in the CPT Project</a></td>
        <td><a href="{{site.baseurl}}/Model/Programming">Model and Object-Oriented Programming</a></td>
        <td><a href="{{site.baseurl}}/Javascript/Tutorial">Javascript Tutorial</a></td>
        <td><a href="{{site.baseurl}}/Bash/Checks">Back Checks</a></td>
    </tr>
</table>

