<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/notes/Goodlife">The Good Life Notes</a></td>
        <td><a href="{{site.baseurl}}/Games/Applab">App Lab Games</a></td>
        <td><a href="{{site.baseurl}}/APCSP/Panelnotes">APCSP Panel Notes</a></td>
        <td><a href="{{site.baseurl}}/Biology/Quiz">Biology Quiz</a></td>
        <td><a href="{{site.baseurl}}/Bioquiz/2">Bio Quiz 2.0</a></td>
        <td><a href="{{site.baseurl}}/Javascript/Tutorial">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/Python/Lists">Python Lists</a></td>
        <td><a href="{{site.baseurl}}/Bash/Checks">Bash Checks</a></td>
    </tr>
</table>

