<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/notes/Goodlife">The Good Life Notes</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/11/Applab-Game.html">App Lab Games</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/07/APCSP-Panel-Notes.html">APCSP Panel Notes</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/06/Biology-Quiz.html">Biology Quiz</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/06/Bio-Quiz2.html">Bio Quiz 2.0</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/25/PBL-js_tutorial.html">JavaScript</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/04/Python-Lists.html">Python Lists</a></td>
        <td><a href="https://srihitakott1213.github.io/APCSP-Blog-Assignment/2022/09/04/Bash-Project.html">Bash Checks</a></td>
    </tr>
</table>

