<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60"  title="Lesson Hacks" alt=""></td>
        <td><a href="{{site.baseurl}}/Hacks/17and18">3.17 and 3.18 Hacks</a></td>
        <td><a href="{{site.baseurl}}/Hacks/14and15">Lesson 3.14-3.15 Hacks</a></td>
        <td><a href="{{site.baseurl}}/Hacks/12and13">Lesson 3.12-3.13 Hacks</a></td>
        <td><a href="{{site.baseurl}}/Hacks/9thru11">Lesson 9-11 Hacks</a></td>
        <td><a href="{{site.baseurl}}/Hacks/8and10">Lesson 8 and 10 Hacks</a></td>
        <td><a href="{{site.baseurl}}/Hacks/5thru7">Lesson 5-7 Hacks</a></td>
        <td><a href="{{site.baseurl}}/Lesson/1and2">Lesson 3.1 and 3.2 Homework</a></td>
        <td><a href="{{site.baseurl}}/Lesson/3and4">Lesson 3.3 and 3.4 Homework</a></td>
    
    </tr>
</table>