<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60"  title="Lessons" alt=""></td>
        <td><a href="{{site.baseurl}}/Vocab">Vocabulary From The Lessons </a></td>
        <td><a href="{{site.baseurl}}/Lesson/14and15">Unit 3 Sections 14 and 15</a></td>
        <td><a href="{{site.baseurl}}/Unit/12and13">Lesson 3.12 and 3.13</a></td>
        <td><a href="{{site.baseurl}}/studentlesson/simulations">Lesson 3.16 </a></td>
        <td><a href="{{site.baseurl}}/Unit/8and10">Unit 3 Sections 8 and 10</a></td>
        <td><a href="{{site.baseurl}}/Unit/17and18">Unit 3.17-3.18 Group Lesson Period 4</a></td>
    </tr>
</table>

