<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60"  title="Lesson Notes" alt=""></td>
        <td><a href="{{site.baseurl}}/Notes/17and18">Lesson Notes 3.17 and 3.18</a></td>
        <td><a href="{{site.baseurl}}/Notes/14and15">Lesson Notes 3.14 and 3.15</a></td>
        <td><a href="{{site.baseurl}}/Notes/12and13">Lesson Notes 3.12 and 3.13</a></td>
        <td><a href="{{site.baseurl}}/Notes/9thru11">Lesson Notes 3.9-3.11</a></td>
        <td><a href="{{site.baseurl}}/Notes/8and10">Lesson Notes 3.8 and 3.10</a></td>
        <td><a href="{{site.baseurl}}/Notes/5thru7">Lesson Notes 3.5-3.7</a></td>
        <td><a href="{{site.baseurl}}/Notes/1and2">Lesson Notes 3.1 and 3.2</a></td>
        <td><a href="{{site.baseurl}}/Notes/3and4">Lesson Notes 3.3 and 3.4</a></td>
    </tr>
</table>

